#textHolder {
    position: absolute;
    height: 82.5%;
    width: 90%;
    left: 5%;
    top: 2.5%;
    bottom: 15%;
}

#gameText {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: scroll;
}

#buttonsDiv {
    position: fixed;
    bottom: 0;
}
